body {
  background-color: #000000; 
  color: #ffffff;
  font-family: 'Montserrat', sans-serif; /* Change font */
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to bottom, #FFDA39, #FFDA39); /* Gradient background */
  padding: 5px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Drop shadow */
  position: relative;
}

#logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

h1 {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  color: #FFFFFF; /* Off-white text color */
}

nav {
  background-color: #FFDA39; /* Slightly darker gold for navigation */
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px; /* Add subtle border-radius */
  transition: background-color 0.2s ease-in-out; /* Add hover transition */
}

nav a:hover {
  background-color: #FFC500; /* Darker gold on hover */
}

.main-content {
  padding: 20px 0;
  text-align: center;
}

.main-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#signupButton {
  background-color: #FFC500;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#signupButton:hover {
  background-color: #FFF59D
}

#main_image {
  width: 100%;
  padding: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  font-size: 14px;
}

#footer-links {
  /* Adjust styling for the links if needed */
}

p {
  margin: 0; /* Remove default margin */
}
